/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Custom styles */

/* Make paragraphs unselectable */
p {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.player {
    border: 1px solid red;
}

.input {
    font-size: 2vmax;
}

#scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#user_input {
    display: flex;
}

#input_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#input_score_wrapper {
    grid-column-start: 2;
    grid-column-end: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_score {
    text-align: center;
}